<div class="post-item col-md-3 col-xs-12">
  <div class="item-img-effect">
    <%= image_tag tip.image %>
  </div>
  <div class="post-element-detail">
  </div>
  <div class="post-item-detail">
      <%= link_to tip.title, tip %>
    </div>
</div>
