<% provide :main_class, "index-page" %>
<%= render "layouts/header" %>
<div class="main main-raised">
  <div class="profile-content fixed_body fix">
    <div class="container">
      <div class="row">
        <div class="headline">
          <h3>Best rating </h3>
        </div>
        <div class="row">
          <%= render partial: "food_item", collection: @foods,
            as: :food %>
        </div>
      </div>
      <div class="row">
        <div class="headline">
          <h3>Cẩm nang dinh dưỡng </h3>
        </div>
        <div class="row">
          <%= render partial: "post_item", collection: @posts,
            as: :post %>
        </div>
      </div>
      <div class="row">
        <div class="headline">
          <h3>Cẩm nang sức khỏe </h3>
        </div>
      </div>
    </div>
  </div>
</div>
