<div class="row">
  <div class="col-md-6 col-xs-12">
    <h1><%= yield :header_title %></h1>
  </div>
  <div class="col-md-6 col-xs-12">
    <form class="navbar-form navbar-right" role="search" method="get" action="<%= action_path %>" data-remote="true">
      <div class="form-group  is-empty">
        <input type="text" class="form-control keyup-submit" placeholder="Search" name="keyword">
        <span class="material-input"></span>
        <span class="material-input"></span>
      </div>
      <button type="submit" class="btn btn-white btn-round btn-just-icon">
        <i class="material-icons">search</i>
        <div class="ripple-container">
        </div>
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div id="result-users" class="row">
    <%= render users %>
  </div>
  <div class="result-users-paginate" class="row">
    <%= paginate users %>
  </div>
</div>
