<div class="col-md-3">
  <div class="avatar mini-avatar">
    <%= link_to image_tag(user.avatar, class:"img-circle img-responsive img-raised"), user %>
  </div>
  <div class="name center">
    <h6><%= link_to user.name, user %></h6>
  </div>
</div>
