<!-- <span class="hashtag">
  <span>
    <%= hashtag&.name || tag %>
  </span>
  <i class="remove-tag-icon" onclick="removeParent(this, '.hashtag', revertIndexInputHastag)">&times;</i>
</span>
 -->
 <%= link_to hashtag, class: "hashtag" do %>
  <span>
    <%= hashtag&.name || tag %>
  </span>
  <!-- <i class="remove-tag-icon" onclick="removeParent(this, '.hashtag', revertIndexInputHastag)">&times;</i> -->
<% end %>
