<label for="condition_details-select"><%= t :condition_details %></label>
<select class="form-control" id="condition_details-select" detailname="<%= name %>">
  <option value=""></option>
  <% Condition.all.each do |condition| %>
    <option value="<%= condition.id %>"><%= condition.name %></option>
  <%  end %>
</select>
