<div class="food-item col-md-3 co-xs-12">
  <div class="item-img-effect">
    <%= image_tag ingredient.image, class: "item-image" %>
  </div>
  <div class="food-element-detail">
  </div>
  <div class="food-item-detail">
  	<a class="center">
    	<%= ingredient.name %>
	</a>
  </div>
</div>
