<% if current_page.last? %>
  <li class="disabled">
    <a href="#">&gt;<div class="ripple-container"></div></a>
  </li>
<% else %>
  <li class="waves-effect">
    <%= link_to url, :rel => 'next', :remote => remote do %>
      &gt;<div class="ripple-container"></div>
    <% end %>
  </li>
<% end %>
