<% if current_page.first? %>
  <li class="disabled">
    <a href="#">&lt;<div class="ripple-container"></div></a>
  </li>
<% else %>
  <li class="waves-effect">
    <%= link_to url, :rel => 'prev', :remote => remote do %>
      &lt;<div class="ripple-container"></div>
    <% end %>
  </li>
<% end %>
