<% provide :main_class, "index-page" %>
<%= render "layouts/header" %>
<div class="main main-raised">
  <div class="section section-basic fixed_body">
    <div class="row">
      <div class="col-md-3">
        <div class="lef_navbar">
          <div class="list-group">
          <a href="#" class="list-group-item">Cẩm nang sức khỏe</a>
          <a href="#" class="list-group-item">Cẩm nang dinh dưỡng </a>
          <a href="#" class="list-group-item">Gợi ý món ăn</a>
        </div>
        </div>
      </div>
      <div class=" section col-md-8 content_area">
        <div class="foods">
          <%= render @foods %>
        </div>
        <div class="paginate">
          <%= paginate @foods %>
        </div>
      </div>
    </div>
  </div>
</div>
