<% provide :main_class, "index-page" %>
<%= render "layouts/header" %>
<div class="main main-raised">
  <div class="profile-content fixed_body fix">
    <div class="container">
      <div class="row">
        <div class="headline">
          <h3><%= t :tips %></h3>
        </div>
        <div class="row">
          <!-- <div class="card">
          <form>
            <div class="form-group">
              <label for="ss">asdasd</label>
              <input type="text" name="" class="form-control" id="ss">
            </div>
            <button type="submit" class="btn btn-primary"></button>
          </form>
          </div> -->
        </div>
        <div class="row">
          <%= render @posts %>
          <div class="paginate">
            <%= paginate @posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
