<% provide :main_class, "index-page" %>
<%= render "layouts/header" %>
<div class="main main-raised">
  <div class="profile-content fixed_body fix">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12"></div>
        <div class="col-md-8 col-xs-12">
          <div class="headline">
            <h3><%= t :tips %></h3>
          </div>
          <div class="row">
            <%= render @posts %>
          </div>
          <div class="row">
            <div class="paginate">
              <%= paginate @posts %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
