<% provide :main_class, "profile-page" %>
<%= render "layouts/navbar" %>
<div class="wrapper">
  <div class="header header-filter food_detail"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="profile">
            <div class="avatar">
            </div>
            <div class="name">
              <h3 class="title"><%= @post.title %></h3>
            </div>
          </div>
        </div>
        <div class="description text-center ">
          <%= @post.content.html_safe %>
        </div>
      </div>
      <div class="comment">
      </div>
    </div>
  </div>
