.ingredient {
  overflow: hidden;
  float: left;
  width: 150px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 10px;
}

.ingredient_image .images {
  margin: 0;
}

.clear {
  clear: both;
}

.profile-page .profile .avatar .img-circle {
    max-width: 200px;
    margin: -80px auto 0;
}

.profile-page .profile img {
    max-width: 250px;
    margin: 0;
}

.avatar {
  width: 234px;
  margin: 0 auto;
}
