.flash-messages-content{
  position: fixed;
  right: 0;
  top: 10%;
  min-width: 35%;
  max-width: 35%;
  z-index: 999;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart {
  width: 100%;
  height: 400px;
  margin: 5px;
  margin: 5px auto;
  border: 3px solid #DDD;
  border-radius: 3px;
}
.Treant > .node {  }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
.node-name {
  font-weight: bold;
  text-align: center;
  font-size: medium;
}
.node-title{
  text-align: center;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.3em;
}
.node-desc{
  text-align: center;
}
.node-contact{
  text-align: center;
}

.nodeExample1 {
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 8px;
  border-radius: 50%;
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 5px 5px 25px #888888;
  font-family: inherit;
  font-size: 12px;
  color: #fff;
}
.nodeExample1:hover {
  z-index: 1000;
  border-radius: 8px;
}

.nodeExample1 .node-title{
  display: none;
  visibility: hidden;
}

.nodeExample1 .node-desc{
  display: none;
  visibility: hidden;
}

.nodeExample1:hover .node-title{
  display: block;
  visibility: visible;
}

.nodeExample1:hover .node-desc{
  display: block;
  visibility: visible;
}


.nodeExample1 img {
  margin-right:  5px;
}

.gray {
  background-color: #909090;
}

.light-gray {
  background: linear-gradient(60deg, #6f8c70, #172518);
}

.not-match {
  background: linear-gradient(60deg, #f98f54, #69a76d);
}
.match {
  background: linear-gradient(60deg, #7874d2, #929c93);
}
.card {
  color: #9c27b0 !important;
}
