.row{
  padding: 5px;
/*  padding-left: 5px;
  padding-right: 5px;*/
}

.raty-cancel{
  display: none;
}

.button-add-content{
  padding-left: 5px;
}
.modal-content{
  max-height: 80vh;
  overflow-y: auto;
}

.flash-messages-content{
  position: fixed;
  right: 0;
  top: 10%;
  min-width: 35%;
  max-width: 35%;
  z-index: 999;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart {
  width: 100%;
  /*min-height: 400px;*/
  /*max-height: 600px;*/
  height: 500px;
  height: auto;
  margin: 5px;
  margin: 5px auto;
  border: 3px solid #DDD;
  border-radius: 3px;
  padding-bottom: 20%;
  overflow: scroll;
}
.Treant > .node {  }
.Treant > p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 12px;
  overflow: scroll;
}
.Treant {
  min-height: 500px;
  max-height: 700px;
  overflow: scroll;
}
.node-name {
  /*font-weight: bold;*/
  text-align: center;
  font-size: xx-small;
}
.nodeExample1:hover .node-name {
  font-weight: bold;
  text-align: center;
  font-size: medium;
}
.node-title{
  text-align: center;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.3em;
}
.node-desc{
  text-align: center;
}
.node-contact{
  text-align: center;
}

.nodeExample1 {
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 8px;
  border-radius: 50%;
  background: linear-gradient(30deg, #0097A7, #006064);
  box-shadow: 5px 5px 25px #888888;
  font-family: inherit;
  font-size: 12px;
  color: #fff;
  min-width: 30px;
}

.nodeExample1 .node-name{
  white-space: nowrap;
}

.nodeExample1:hover {
  z-index: 1000;
  border-radius: 8px;
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* IE 9 */
  -o-transform:scale(1.5); /* Opera */
  transform:scale(1.5);
}

.nodeExample1 .node-title{
  display: none;
}

.nodeExample1 .node-desc{
  display: none;
}

.nodeExample1:hover .node-title{
  display: block;
  white-space: nowrap;
}

.nodeExample1:hover .node-desc{
  display: block;
}


.nodeExample1 img {
  margin-right:  5px;
}

.gray {
  background-color: #909090;
}

.light-gray {
  background: linear-gradient(60deg, #6f8c70, #172518);
  border-radius: 5px;
}

.not-match {
  background: linear-gradient(60deg, #f98f54, #69a76d);
}
.match {
  background: linear-gradient(60deg, #7874d2, #929c93);
}
.card-stats {
  color: #9c27b0;
}

.hashtag-group{
  margin: 7px;
}
.hashtag {
  max-width: 100%;
  font-weight: 500;
  padding: 4px 6px;
  margin-bottom: 4px;
  font-size: 1.25rem;
  background-color: #dbe3e8;
  color: #0b1a33!important;
  border-radius: 5%;
  margin: 5px;
  padding: 5px;
  cursor: default;
  border-radius: 3px;
}
.hashtag {
  margin: 5px;
  padding: 0;
  cursor: default;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  text-overflow: ellipsis;
  span{
    font-size: large;
    color: #8f3a9e;
    padding-left: 7px;
  }
  .remove-tag-icon{
    cursor: pointer;
    font: normal normal normal 14px/1 -webkit-pictograph;
    font-family: monospace;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: large;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    box-sizing: inherit;
    white-space: nowrap;
    font-weight: 500;
    margin-left: 3px;
    color: #999999;
  }
}
.autocomplete-suggestion{
  right: 0;
  width: 100%;
  z-index: 99;
  margin-top: 0;
  overflow-y: auto;
  position: absolute;
  background-color: #FFF;
  max-height: calc(100vh - 80px);
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.autocomplete-suggestion>.suggestion-item {
  padding-left: 20px;
  cursor: text;
  line-height: 3;
}
.autocomplete-suggestion>.suggestion-item:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #5488c7;
}
.autocomplete input {
  padding: .5rem .75rem;
}
.loading{
  display: none;
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: fixed;
  background: asset-url("loading.gif") no-repeat center center rgba(0,0,0,0.25);
  background-size: 33px 33px;
}

.slide-element-ingredient{
  border-radius: 5px;
  margin-right: 10px;
  background: linear-gradient(60deg, #66bb6a, #43a047);
}

.ingredients-element-detail{
  height: 30px;
  width: 100%;
  opacity: 0.5;
  background-color: black;
  position: absolute;left:0;bottom:0;
}

.ingredient-item-detail {
  opacity: 1 !important;
  color: white;
  position: absolute;left:0;bottom:0;
  margin-left: 10px;
  margin-bottom: 5px;
  text-align: left;
}

.admin td img.image{
  height: 50px;
  width: 50px;
  border-radius: 5px;
}
.admin td img.image:hover {
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -o-transform: scale(5);
  transform: scale(5);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.select-wrapper input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  display: block;
}
ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}
.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
ul:not(.browser-default) li {
  list-style-type: none;
}
.dropdown-content li {
  clear: both;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  text-transform: none;
}
.dropdown-content li>a, .dropdown-content li>span {
  font-size: 16px;
  color: #26a69a;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.div-condition-details-row-class{
  overflow-y: scroll;
  max-height: 300px;
}

ul.trans {
  background-color: rgba(200, 200, 200, 0) !important;

  li>a{
    border-radius: 5px !important;
  }

  li>a:hover, li>a:focus {
    text-decoration: none  !important;
    background-color: #eee  !important;
  }

  li.active > a:hover {
    background-color: #7a3f86  !important;
    color: #FFFFFF  !important;
    box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2)  !important;
  }
  li.active > a {
    background-color: #9c27b0  !important;
    color: #FFFFFF  !important;
    box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2)  !important;
  }
}

.display-none{
  display: none !important;
}

.inline a{
  display: inline-block;
}

.comment-actions div{
  display: inline-block;
}
.comment-actions {
  max-height: 100px;
}
.comment-content-text{
  max-height: 100px;
  overflow-y: auto;
}

.modal-content::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
  border-radius: 5px !important;
  background-color: #F5F5F5 !important;
}

.modal-content::-webkit-scrollbar
{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 12px !important;
  background-color: #F5F5F5 !important;
}

.modal-content::-webkit-scrollbar-thumb
{
  border-radius: 5px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
  background-color: #c4c4c4 !important;
}

.main-panel::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
  border-radius: 5px !important;
  background-color: #F5F5F5 !important;
}


.main-panel::-webkit-scrollbar-thumb
{
  border-radius: 5px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
  background-color: #c4c4c4 !important;
}
.main-panel::-webkit-scrollbar
{
  width: 12px !important;
  background-color: #F5F5F5 !important;
}
body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
  border-radius: 5px !important;
  background-color: #F5F5F5 !important;
}

body::-webkit-scrollbar
{
  width: 12px !important;
  background-color: #F5F5F5 !important;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 5px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
  background-color: #c4c4c4 !important;
}
.comment-content-text::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
  border-radius: 5px !important;
  background-color: #F5F5F5 !important;
}

.comment-content-text::-webkit-scrollbar
{
  width: 8px !important;
  background-color: #F5F5F5 !important;
}

.comment-content-text::-webkit-scrollbar-thumb
{
  border-radius: 5px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
  background-color: #c4c4c4 !important;
}
.card-stats .card-header img {
    font-size: 36px;
    line-height: 56px;
    width: 50px;
    height: 50px;
    margin: 0;
}
.profile-page .card-stats [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00) !important;
    box-shadow: 0 1px 2px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2) !important;
}
.card-stats .card-header {
  padding: 5px !important;
}
a.hashtag{
  cursor: pointer;
}

.profile-page a.hashtag span {
    font-size: small;
    color: #8f3a9e;
    padding-left: 5px;
    padding-right: 5px;
}

.rating img{
  width: initial !important;
  margin-bottom: 0 !important;
}
