.flash-messages-content{
  position: fixed;
  right: 0;
  top: 10%;
  min-width: 35%;
  max-width: 35%;
  z-index: 999;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart {
  width: 100%;
  /*min-height: 400px;*/
  /*max-height: 600px;*/
  height: 500px;
  height: auto;
  margin: 5px;
  margin: 5px auto;
  border: 3px solid #DDD;
  border-radius: 3px;
  padding-bottom: 20%;
}
.Treant > .node {  }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
.node-name {
  /*font-weight: bold;*/
  text-align: center;
  font-size: xx-small;
}
.nodeExample1:hover .node-name {
  font-weight: bold;
  text-align: center;
  font-size: medium;
}
.node-title{
  text-align: center;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.3em;
}
.node-desc{
  text-align: center;
}
.node-contact{
  text-align: center;
}

.nodeExample1 {
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 8px;
  border-radius: 50%;
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 5px 5px 25px #888888;
  font-family: inherit;
  font-size: 12px;
  color: #fff;
}

.nodeExample1 .node-name{
  white-space: nowrap;
}

.nodeExample1:hover {
  z-index: 1000;
  border-radius: 8px;
}

.nodeExample1 .node-title{
  display: none;
}

.nodeExample1 .node-desc{
  display: none;
}

.nodeExample1:hover .node-title{
  display: block;
  white-space: nowrap;
}

.nodeExample1:hover .node-desc{
  display: block;
}


.nodeExample1 img {
  margin-right:  5px;
}

.gray {
  background-color: #909090;
}

.light-gray {
  background: linear-gradient(60deg, #6f8c70, #172518);
}

.not-match {
  background: linear-gradient(60deg, #f98f54, #69a76d);
}
.match {
  background: linear-gradient(60deg, #7874d2, #929c93);
}
.card {
  color: #9c27b0 !important;
}

.hashtag-group{
  margin: 7px;
}
.hashtag {
  max-width: 100%;
  font-weight: 500;
  padding: 4px 6px;
  margin-bottom: 4px;
  font-size: 1.25rem;
  background-color: #dbe3e8;
  color: #0b1a33!important;
  border-radius: 5%;
  margin: 5px;
  padding: 5px;
  cursor: default;
  overflow: hidden;
  border-radius: 3px;
}
.hashtag {
  margin: 5px;
  padding: 0;
  cursor: default;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  text-overflow: ellipsis;
  span{
    font-size: large;
    color: #8f3a9e;
    padding-left: 7px;
  }
  .remove-tag-icon{
    cursor: pointer;
    font: normal normal normal 14px/1 -webkit-pictograph;
    font-family: monospace;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: large;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    box-sizing: inherit;
    white-space: nowrap;
    font-weight: 500;
    margin-left: 3px;
    color: #999999;
  }
}
.autocomplete-suggestion{
  right: 0;
  width: 100%;
  z-index: 99;
  margin-top: 0;
  overflow-y: auto;
  position: absolute;
  background-color: #FFF;
  max-height: calc(100vh - 80px);
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.autocomplete-suggestion>.suggestion-item {
  padding-left: 20px;
  cursor: text;
  line-height: 3;
}
.autocomplete-suggestion>.suggestion-item:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #5488c7;
}
.autocomplete input {
  padding: .5rem .75rem;
}
.loading{
  display: none;
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: fixed;
  background: asset-url("loading.gif") no-repeat center center rgba(0,0,0,0.25);
}
