.bg {
  background: url('/assets/home-bg.jpg') 50% 0 repeat-y fixed;
}

.fixed_navbar {
  border-bottom: 0px !important;
}

.fixed_body {
  margin-top: -200px;
}

.lef_navbar {
  margin: 50px 0px 0px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content_area {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px 0px 0px 50px;
}

.food_detail{
  background: url('/assets/home-bg.jpg') 50% 0 repeat-y fixed;
}

.description {
  padding-bottom: 50px;
}

.headline{
  margin: 10px 0;
  overflow: hidden;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 0;
}
.headline:after {
  background-color: #8bc34a;
  width: 100px;
  height: 1px;
  content: "";
  top: 8px;
  margin: 0 auto;
  display: block;
}

.item-image{
  border-radius: 5px;
}


.recently-item-info-box {
  color: black !important;
  a {
    color: black;
    font-weight: bold;
  }
}

.item-img-effect{
  border-radius: 5px;
  display: block;
  text-align: center;
  img{
    display: block;
    margin: 0 auto;
    position: relative !important;
    width: auto;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    border-radius: 5px;
  }
}

.item-content {
  background-color: #fff;
  padding: 10px;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.user-name {
  float: right;
  margin-left: 15px;
}

.pull-left {
  box-shadow: none;
}

.comments{
}


.list-comments{
  margin-top: 50px;
  margin-bottom: 50px;
}

.comment-user {
  float: left;
  padding-top: 0px;
}

.comment-user-avatar {
  width: 50px;
  height: 50px;
}

.comment-content {
  margin-left: 55px;
  padding-top: 0px;
  word-wrap: break-word;
}

.user-comment {
  margin-top: 20px;
}

.fixed_body{
  padding-left: 20px;
  padding-right: 20px;
}
.container-custom{
  max-width: 94%;
  padding-left: 3%;
  padding-right: 3%;
}

.post-item {
  height: 350px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5px;
}

.post-element-detail{
  position: absolute;
  width: 100%;
  height: 25%;
  opacity: 0.5;
  background-color: #0e0101;
  left:auto;
  bottom:0;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.post-item-detail {
  position: absolute;
  left:auto;
  bottom:0;
  opacity: 1;
  margin-left: 10px;
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  a {
    font-family: fantasy;
    font-size: 18px;
    color: white;
  }
}

.food-item {
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5px;
}

.food-element-detail{
  position: absolute;
  width: 100%;
  height: 25%;
  opacity: 0.5;
  background-color: #345443;
  left:auto;
  bottom:0;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.food-item-detail {
  position: absolute;
  left:auto;
  bottom:0;
  opacity: 1;
  margin-left: 10px;
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  a {
    font-family: fantasy;
    font-size: 18px;
    color: white;
  }
}
