.bg {
  background: url('/assets/home-bg.jpg') 50% 0 repeat-y fixed;
}

.fixed_navbar {
  border-bottom: 0px !important;
}

.fixed_body {
  margin-top: -200px;
}

.lef_navbar {
  margin: 50px 0px 0px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content_area {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px 0px 0px 50px;
}

.home_item {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px 40px 50px 50px;
  width: 300px;
  height: 200px;
  float: left;
  .home_item_image {
    width: 300px;
    height: 200px;
  }
}
