<label for="condition_details-select"><%= t :condition_details %></label>
<select class="form-control" id="condition_details-select" name="<%= "#{@params_name}[condition_detail_id]" %>">
  <%= render @condition_details %>
</select>
