<%= render "layouts/navbar" %>
<div class="wrapper">
  <div class="header bg ">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="brand">
            <h1>Bếp Việt</h1>
            <h3>Món ăn của người Việt</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
